# Ignore system files
*.DS_Store
Thumbs.db

# Ignore virtual environment
.venv/

# Ignore Sphinx build outputs
docs/_build/

# Ignore IDE settings
.idea/

# Python artifacts
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/

